<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-12 text-center" style="padding: 20px; background-color: #f2f2f2;">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "rounded-circle justify-content-center align-items-center", style: "width:200px;height:200px;object-fit:cover"%>
  <% end %>
    
    <h1><%= @user.name %></h1>
    <p><%= @user.email %></p>
    <p><%= @user.bio %></p>
  
<% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user)%>
    <% elsif current_user.sent_follow_request_to?(@user) %>
      <%= button_to "Cancel follow request", cancel_path(@user) %>
    <% else %>
      <% if @user.id == current_user.id %>
      <% else %>
        <%= button_to "Follow", follow_path(@user)%>
      <% end %>
      <% end %>

  </div>
</div>

<%= stylesheet_link_tag("post") %>
<div id="posts" class="text-center">
  <% @user.posts.each do |post| %>
  
    <% if post.user.id %>
            <%= render post %>
    <% end %>
  <% end %>
</div>

